<div class="container py-3 px-3 max-w-72 min-w-72 bg-gray-950 h-full">
    <div class="header flex justify-between">
        <div class="logo h-32">
            <img src="../../../../assets/just-code-e.png" height="50" width="50" alt="logo">
        </div>
        <div class="username pr-7 text-slate-400">Nkopane</div>
    </div>
    <div class="main">
        <div class="create-file">
            <button class="bg-transparent text-slate-400 font-semibold hover:text-white py-2 px-4 border border-slate-400 hover:border-gray-400 rounded">
                + Create new file
            </button>
        </div>
        <div class="files text-slate-400 py-5">
            <div class="header"><p class="text-2xl text-slate-300">Files</p></div>
            <div class="file flex py-1 text-slate-300 hover:text-slate-200 hover:cursor-pointer">
                <fa-icon [icon]="faJs" class="pr-2"></fa-icon>
                <p>test.js</p>
            </div>
            <div class="file flex py-1 text-slate-300 hover:text-slate-200 hover:cursor-pointer">
                <fa-icon [icon]="faJs" class="pr-2"></fa-icon>
                <p>test.js</p>
            </div>
            <div class="file flex py-1 text-slate-300 hover:text-slate-200 hover:cursor-pointer">
                <fa-icon [icon]="faJs" class="pr-2"></fa-icon>
                <p>test.js</p>
            </div>
        </div>
    </div>
</div>