<div class="container py-3 px-3 max-w-72 min-w-72 bg-gray-950 h-full relative">
    <div class="header flex justify-between">
        <div class="logo h-32">
            <img src="../../../../assets/just-code-e.png" height="50" width="50" alt="logo">
        </div>
        <div class="username pr-7 text-slate-400">Nkopane</div>
    </div>
    <div class="main">
        <!-- <div class="create-file">
            <button class="bg-transparent text-slate-400 font-semibold hover:text-white py-2 px-4 border border-slate-400 hover:border-gray-400 rounded">
                + Create new file
            </button>
        </div> -->
        <div class="files text-slate-400 py-5">
            <div class="header"><p class="text-2xl text-slate-300">Files</p></div>
            <div class="file flex py-1 text-slate-300 hover:text-slate-200 hover:cursor-pointer">
                <fa-icon [icon]="faJs" class="pr-2"></fa-icon>
                <p>test.js</p>
            </div>
            <div class="file flex py-1 text-slate-300 hover:text-slate-200 hover:cursor-pointer">
                <fa-icon [icon]="faJs" class="pr-2"></fa-icon>
                <p>test.js</p>
            </div>
            <div class="file flex py-1 text-slate-300 hover:text-slate-200 hover:cursor-pointer">
                <fa-icon [icon]="faJs" class="pr-2"></fa-icon>
                <p>test.js</p>
            </div>
        </div>
        <div class="create-file-form absolute bottom-0 left-0 right-0 w-full px-2 pb-3">
            <div class="form-input flex flex-col">
                <input class="text-white my-1 p-1 outline-none rounded-sm bg-transparent border-2 border-slate-400" type="text" name="filename" id="filename" placeholder="enter file name...">
                <select class="bg-transparent rounded-sm text-white border-2" name="language" id="language">
                    <option class="bg-gray-950" value="">Javascript</option>
                    <option class="bg-gray-950" value="">Java</option>
                    <option class="bg-gray-950" value="">C#</option>
                </select>
            </div>
            <div class="create bg-white my-1 p-1 rounded-sm ">
                <button class="w-full hover:opacity-90">Create</button>
            </div>
        </div>
    </div>
</div>